body {
    backgroud-color: #A020F0
     font-family: Arial;
     text-align: center;
     margin-top: 50px;
}
    header{
      color:aqua;
    }

    nav{
        color:black;
    }

    a{
        color:beige;
    
    }
    h2{
       color:blanchedalmond;
    }   font-family:'Times New Roman',Times,serif;
        font-size:15;
    
    h3{
        color:beige;
        font-family:'Times New Roman',Times,serif;
        font-size:large ;
    
    } font-family:
    h3{
        color:blue;
        font-family:'Times new Roman',Times,serif;
        font-size:small;
    }
    button{
      background-color: rgb(19, 19, 19);
      color:blanchedalmond;
      padding:10px 30px;
      border:nome;

    
{    .Card
     background-color: blueviolet;


    .Card{background-color: blueviolet;         
    }

    
